@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    html{
        font-family: ui-sans-serif, system-ui,sans-serif,-apple-system,Helvetica;
    }
}

@layer components{
    body {
        @apply bg-[#fafafa] ;
    }

    /* Table */
    table{
        @apply w-full text-sm text-center ;
    }

    td,th{
        @apply py-2 justify-center;
    }

    tr{
        @apply border-b-[1px]
    }

    .panel {
        @apply relative rounded-md bg-white p-5 shadow ;
    }

    .form-input{
        width: 100%;
        border-width: 2px;
        border-radius: 6px;
        padding: 0.25rem 0 0.30rem 0.5rem;
        &:focus{
            outline-color: #7dd3fc;
        } 
    }

    .file{
        border-width: 2px;
        width: 100%;
        border-radius: 6px;
        padding: 0.25rem ;
        color: gray;
        &::file-selector-button{
            background-color: blue;
            color: white;
            border-radius: 5px;
            border: none;
        }
        &:focus{
            border: 2px solid #7dd3fc;
        }
        &:hover{
            border: 2px solid #7dd3fc;
        }
    }

    .btn-primary{
        @apply text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 ;
    }

    .btn-danger{
        @apply text-white bg-danger hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-100 font-medium rounded-[7px] text-sm px-5 py-2.5 text-center me-2 mb-2 ;
    }


}